<html>
  <head>
    <title>Graph</title>
  </head>
  <body>
    <h2>Temperature</h2>
    <p>Graph</p>
    <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename='img_tem.png')}}" alt="image1"
        width={{width}}, height={{hieght}}>
      </div>
    </div>
    <h2>Humidity</h2>
    <p>Graph</p>
    <div class="row">
      <div class="column">
        <img src="{{url_for('static', filename='img_hum.png')}}" alt="image2"
        width={{width}}, height={{hieght}}>
      </div>
    </div>
  </body>
</html>
